DB_USER=root
DB_PASSWORD=db_password
DB_NAME=db_name
DB_HOST=db_container_name

REDIS_HOST=redis_container_name
SESSION_PATH=tcp://redis_container_name:redis_port_value?auth=redis_password_value
REDIS_PORT=redis_port
REDIS_PASSWORD=redis_password